<div class="layui-fluid">
  <div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title" id="zdyjdzk">
      <div class="layui-field-box">
        <div class="layui-row layui-col-space10" style="margin-top: 10px;">
          <div class="layui-col-lg4">
            <div style="height: 670px;overflow: auto;">
              <ul id="commonTree4" class="dtree" data-id="0"></ul>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<script>
  //载入./console/demo 模块
  layui.use('demo', layui.factory('demo'));
</script>
