<style>
  .diy-tree {
    border:solid 1px #dddddd;
  }
  .diy-tree-top>span{
    float:right;
    padding:0 10px; 
  }
  
</style>
<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-tab layui-tab-card">
      <ul class="layui-tab-title">
        <li class="layui-this">客服管理</li>
        <li>角色设置</li>
      </ul>
      <div class="layui-tab-content" >
        <div class="layui-col-space20 layui-tab-item layui-show layui-row ">
          <div class="layui-row layui-col-space10">
            <div class="layui-col-md2 diy-tree">
              <div class="layui-col-row diy-tree  diy-tree-top">
                客服分组
                <span>
                  重构
                </span>
                <span>
                  导出
                </span>
              </div>
              你的内容 3/12
              你的内容 3/12
              你的内容 3/12
              你的内容 3/12
              你的内容 3/12
              你的内容 3/12
              你的内容 3/12
              你的内容 3/12
              你的内容 3/12
            </div> 
            <div class="layui-col-md-offset3  diy-tree">
              你的内容 9/12
            </div> 
          </div>
        </div>
        <div class="layui-tab-item">6</div>
      </div>
    </div>
  </div>
</div>

