<style>
  .diy-tree {
    border:solid 1px #dddddd;
  }
  .diy-tree-top>span{
    float:right;
    padding:0 10px; 
  }
  
</style>
<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-tab layui-tab-card">
      <ul class="layui-tab-title">
        <li class="layui-this">客服管理</li>
        <li>角色设置</li>
      </ul>
      <div class="layui-tab-content" >
        <div class="layui-col-space20 layui-tab-item layui-show layui-row ">
          <div class="layui-row layui-col-space10">
            <div class="layui-col-md2 diy-tree">
              <div class="layui-col-row diy-tree  diy-tree-top">
                客服分组
                <span>
                  重构
                </span>
                <span>
                  导出
                </span>
              </div>
              <div id="diy-tree">
              </div>
            </div> 
             <ul id="demoTree" class="dtree" data-id="0"></ul>
          </div>
        </div>
        <div class="layui-tab-item">6</div>
      </div>
    </div>
  </div>
</div>
  <link href="/static/admin/style/dtree/dtree.css" media="all">
  <link href="/static/admin/style/dtree/font/dtreefont.css" media="all">
<script>
  layui.extend('dtree').use(['dtree','layer','jquery'], function(){
    var dtree = layui.dtree, layer = layui.layer, $ = layui.jquery;
    var DemoTree = dtree.render({
      elem: "#demoTree",
      url: "/json/tree/demo.json",
      type: "all",
      initLevel: "1",
      method: "get",
      icon: "2"  //修改二级图标样式
    });

    // 点击节点触发回调
    dtree.on("node('demoTree')" ,function(obj){
      layer.msg(JSON.stringify(obj.param));
    });
  });
</script>
