<style>
  .diy-tree {
    border:solid 1px #dddddd;
  }
  .diy-tree-top>span{
    float:right;
    padding:0 10px; 
  }
  .dtree-icon {
    top: 9px;
    right: 8px;
    position: absolute; 
  }
</style>

<div class="layui-fluid">   
  <div class="layui-card">
    <div class="layui-tab layui-tab-card">
      <ul class="layui-tab-title">
        <li class="layui-this">客服管理</li>
        <li>角色设置</li>
      </ul>
      <div class="layui-tab-content" >
        <div class="layui-col-space20 layui-tab-item layui-show layui-row ">
          <div class="layui-row layui-col-space10">
            <div class="layui-col-md3 diy-tree ">
              <div class="layui-col-rowu layui-row" >
                   <div class="layui-card">
                       <div class="layui-card-header ">
                           客服分组 
                           <button class="layui-btn layui-btn-sm" style="margin-left:35%">重构</button>  
                           <button class="layui-btn layui-btn-sm">导出</button>  
                       </div>
                       <div class="layui-card-body">
                         <div class="layui-input-inline" style="width:266px">
                           <input class="layui-input" id="searchInput" value="" placeholder="输入查询节点内容">
                            <i class="layui-icon dtree-icon" id="search_node">&#xe615;</i>
                         </div>
                       </div>
                   </div>
              </div>
              <div>
                <ul id="tree" class="dtree" data-id="0" style="height:100px;overflow: auto;">
              </div>
            </ul>
          </div>
          <div class="layui-col-md-offset3">
            <iframe  id="dtree_iframe">
            </iframe>

          </div>
        </div>
        </div>
        <div class="layui-tab-item">
        tab 2
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //载入./console/demo 模块
  layui.use('role', layui.factory('role'));
</script>
